$color-white: white;
$color-light-grey: #f1f3ff;
$color-black: #161c27;
$color-dark-grey: #1f2835;
$color-purple: #6457e3;
$color-violet: #ac9ff9;
$color-cream: #f6e0f4;
$color-pink: #ad64e6;
$color-blue: #0271c4;
$color-cian: #0cecf2;
