%html-full-size {
    width: 100%;
    height: 100%;
}

.dmBody {
    @extend %font-props;
    background-color: $color-black;
    color: $color-white;

    .ant-form, .ant-form-item {
        @extend %font-props;
        color: $color-white;
    }
}

.lmBody {
    @extend %font-props;
    background-color: $color-light-grey;
    color: $color-black;

    .ant-form, .ant-form-item {
        @extend %font-props;
        color: $color-black;
    }
}

// Scroll
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
	background: $color-purple; 
}

::-webkit-scrollbar-thumb:hover {
	background: $color-violet; 
}

// Html, Layout
html {
    @extend %html-full-size;

    body {
        margin: 0;

        &,
        #__nuxt,
        #__layout {
            @extend %html-full-size;
        }

        .dmBody,
        .lmBody {
            display: flex;
            flex-flow: column;
            @extend %html-full-size;
        }
    }
}

.page {
    flex: 1 1 auto;
    display: flex;
    width: 100%;

    .dmBody & {
        background-color: $color-black;
    }

    .lmBody & {
        background-color: $color-light-grey;
    }

    .ant-row {
        width: 100%;
    }
}

// Modal background
.ant-modal-mask {
    background-color: transparent;
}

.ant-modal-wrap {
    backdrop-filter: blur(12px);
}

.ant-modal-wrap.lmBody {
    background-color: rgba($color: $color-light-grey, $alpha: 0.5);
}

.ant-modal-wrap.dmBody {
    background-color: rgba($color: $color-black, $alpha: 0.5);
}

.dmBody {
    .ant-modal-content { 
        background-color: $color-dark-grey;
        color: $color-white;
    }
}

.lmBody {
    .ant-modal-content { 
        background-color: $color-white;
        color: $color-black;
    }
}