.logo {
    margin-bottom: $margin-bottom;
    width: 60%;
}

.footballShoes {
    margin-left: -50px;
    margin-bottom: $margin-bottom;
    width: 90%;
}

.points {
    width: 60%;
    margin-left: -50px;
    margin-bottom: $margin-bottom;
}

.mailbox {
    width: 50%;
    margin-bottom: $margin-bottom;
}

.lock {
    width: 40%;
    margin-bottom: $margin-bottom;
}

.key {
    width: 50%;
    margin-bottom: $margin-bottom;
}

.cupTriangle {
    width: 40%;
    margin-bottom: $margin-bottom;
}

.whistle {
    width: 50%;
    margin-bottom: $margin-bottom;
}

.cornerTopRight {
    width: 150px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.cornerBottomLeft {
    width: 150px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.pin {
    width: 38px;
}

.footballCircle {
    width: 40%;
    margin-bottom: $margin-bottom;
}