[class|="nuxt-link"],
[class|="nuxt-link"]:hover,
[class|="nuxt-link"]:active,
a,
a:hover,
a:active {
    font-weight: 700;

    .dmBody & {
        color: $color-cian;
    }

    .lmBody & {
        color: $color-purple;
    }
}