@import 'colors';
@import 'fonts';

%effects {
    transition: background-color 0.2s linear;
}

body[data-theme="dark"] {
    @extend %font-props;
    @extend %effects;
    background-color: $color-black;
    color: $color-white;

    .ant-form, .ant-form-item {
        @extend %font-props;
        color: $color-white;
    }
}

body, body[data-theme="light"] {
    @extend %font-props;
    @extend %effects;
    background-color: $color-light-grey;
    color: $color-black;

    .ant-form, .ant-form-item {
        @extend %font-props;
        color: $color-black;
    }
}

// Scroll
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
	background: transparent; 
}

::-webkit-scrollbar-thumb {
	background: $color-purple; 
}

::-webkit-scrollbar-thumb:hover {
	background: $color-violet; 
}