@import 'colors';
@import 'fonts';

%effects {
    transition: background-color 0.2s linear;
}

.dmBody {
    @extend %font-props;
    @extend %effects;
    background-color: $color-black;
    color: $color-white;

    .ant-form, .ant-form-item {
        @extend %font-props;
        color: $color-white;
    }
}

.lmBody {
    @extend %font-props;
    @extend %effects;
    background-color: $color-light-grey;
    color: $color-black;

    .ant-form, .ant-form-item {
        @extend %font-props;
        color: $color-black;
    }
}

// Scroll
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
	background: transparent; 
}

::-webkit-scrollbar-thumb {
	background: $color-purple; 
}

::-webkit-scrollbar-thumb:hover {
	background: $color-violet; 
}

// HTML
%pages-props {
    display: flex;
    align-items: center;

    // .mainRow {
    //     width: 100%;
    // }
}

html {
    height: 100%;

    body {
        margin: 0;
        
        &,
        #__nuxt,
        #__layout {
            height: 100%;

            // & > div {
            //     height: 100%;
            // }
        }
    }
}

.layout {
    height: 100%;

    .page {
        height: 100%;
    }
}