$margin-left: 30px;
$margin-top: 30px;
$margin-bottom: 30px;

.logo {
    margin-left: $margin-left;
    margin-bottom: $margin-bottom;
    margin-top: $margin-top;
    max-width: 50%;
}

.football-shoes {
    margin-bottom: $margin-bottom;
    margin-top: $margin-top;
    width: 75%;
}

.points {
    max-width: 45%;
    margin-bottom: $margin-bottom;
    margin-top: $margin-top;
}