.logo {
    margin-bottom: $margin-bottom;
    width: 60%;
}

.footballShoes {
    margin-left: -50px;
    margin-bottom: $margin-bottom;
    width: 90%;
}

.points {
    width: 60%;
    margin-left: -50px;
    margin-bottom: $margin-bottom;
}