.dmBody {
    [class|="nuxt-link"],
    [class|="nuxt-link"]:hover,
    [class|="nuxt-link"]:active,
    a,
    a:hover,
    a:active {
        font-weight: 700;
        color: $color-cian;
    }
}

.lmBody {
    [class|="nuxt-link"],
    [class|="nuxt-link"]:hover,
    [class|="nuxt-link"]:active,
    a,
    a:hover,
    a:active {
        font-weight: 700;
        color: $color-pink;
    }
}