@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/PublicSans-Thin.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/PublicSans-ThinItalic.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/PublicSans-ExtraLight.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/PublicSans-ExtraLightItalic.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/PublicSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/PublicSans-LightItalic.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PublicSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/PublicSans-Italic.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/PublicSans-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/PublicSans-MediumItalic.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/PublicSans-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/PublicSans-SemiBoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PublicSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/PublicSans-BoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/PublicSans-ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/PublicSans-ExtraBoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/PublicSans-Black.ttf") format("truetype"); }
@font-face {
  font-family: "PublicSans";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/PublicSans-BlackItalic.ttf") format("truetype"); }
.dmBody h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: none;
  margin-bottom: 0;
  color: white; }

.lmBody h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: none;
  margin-bottom: 0;
  color: #161C27; }

.dmBody h2 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  color: white; }

.lmBody h2 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #161C27; }

.dmBody h3 {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
  color: white; }

.lmBody h3 {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #161C27; }

.dmBody h4 {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  color: white; }

.lmBody h4 {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #161C27; }

.dmBody, .dmBody .ant-form, .dmBody .ant-form-item, .lmBody, .lmBody .ant-form, .lmBody .ant-form-item, .principalBtn, .principalBtn:focus, .principalBtn:hover, .principalBtn::after, .principalBtn:active, .lmPrincipalInput, .lmPrincipalInput:hover, .lmPrincipalInput:focus, .dmPrincipalInput, .dmPrincipalInput:hover, .dmPrincipalInput:focus, .lmBody .dateSelector,
.lmBody .dateSelector:hover, .dmBody .dateSelector,
.dmBody .dateSelector:hover, .ant-select, .genderSelector .ant-radio-wrapper {
  font-size: 16px;
  font-family: 'PublicSans', sans-serif;
  font-weight: 400;
  font-style: normal; }
  .dmBody b, .dmBody .ant-form b, .dmBody .ant-form-item b, .lmBody b, .lmBody .ant-form b, .lmBody .ant-form-item b, .principalBtn b, .principalBtn:focus b, .principalBtn:hover b, .principalBtn::after b, .principalBtn:active b, .lmPrincipalInput b, .lmPrincipalInput:hover b, .lmPrincipalInput:focus b, .dmPrincipalInput b, .dmPrincipalInput:hover b, .dmPrincipalInput:focus b, .lmBody .dateSelector b,
  .lmBody .dateSelector:hover b, .dmBody .dateSelector b,
  .dmBody .dateSelector:hover b, .ant-select b, .genderSelector .ant-radio-wrapper b {
    font-weight: 700; }

.dmBody, .lmBody {
  transition: background-color 0.2s linear; }

.dmBody {
  background-color: #161C27;
  color: white; }
  .dmBody .ant-form, .dmBody .ant-form-item {
    color: white; }

.lmBody {
  background-color: #f1f3ff;
  color: #161C27; }
  .lmBody .ant-form, .lmBody .ant-form-item {
    color: #161C27; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #6457e3; }

::-webkit-scrollbar-thumb:hover {
  background: #ac9ff9; }

.pageStart, .pageRegister {
  display: flex;
  align-items: center; }
  .pageStart .mainRow, .pageRegister .mainRow {
    width: 100%; }

html {
  height: 100%; }
  html body {
    margin: 0; }
    html body,
    html body #__nuxt,
    html body #__layout {
      height: 100%; }
      html body > div,
      html body #__nuxt > div,
      html body #__layout > div {
        height: 100%; }

.layout {
  height: 100%; }
  .layout .page {
    height: 100%; }

.dmBody [class|="nuxt-link"],
.dmBody [class|="nuxt-link"]:hover,
.dmBody [class|="nuxt-link"]:active,
.dmBody a,
.dmBody a:hover,
.dmBody a:active {
  font-weight: 700;
  color: #0cecf2; }

.lmBody [class|="nuxt-link"],
.lmBody [class|="nuxt-link"]:hover,
.lmBody [class|="nuxt-link"]:active,
.lmBody a,
.lmBody a:hover,
.lmBody a:active {
  font-weight: 700;
  color: #ad64e6; }

.logo {
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 50%; }

.football-shoes {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 75%; }

.points {
  max-width: 45%;
  margin-bottom: 30px;
  margin-top: 30px; }

.facebook {
  display: block;
  width: 38px; }

.google {
  display: block;
  width: 38px; }

.logo {
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 50%; }

.football-shoes {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 75%; }

.points {
  max-width: 45%;
  margin-bottom: 30px;
  margin-top: 30px; }

.themeToggle {
  display: block;
  width: 32px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 30px; }

.principalBtn, .principalBtn:focus, .principalBtn:hover, .principalBtn::after, .principalBtn:active {
  border-radius: 0;
  color: white;
  border-color: transparent;
  --antd-wave-shadow-color: transparent; }

.principalBtn, .principalBtn:focus {
  background: #6457e3;
  background: -moz-linear-gradient(90deg, #6457e3 0%, #ad64e6 100%);
  background: -webkit-linear-gradient(90deg, #6457e3 0%, #ad64e6 100%);
  background: linear-gradient(90deg, #6457e3 0%, #ad64e6 100%);
  height: 42px;
  width: 100%;
  border: none; }

.principalBtn:hover {
  background: #6457e3;
  background: -moz-linear-gradient(90deg, #6457e3 0%, #6457e3 100%);
  background: -webkit-linear-gradient(90deg, #6457e3 0%, #6457e3 100%);
  background: linear-gradient(90deg, #6457e3 0%, #6457e3 100%); }

.principalBtn::after, .principalBtn:active {
  background: #ac9ff9;
  background: -moz-linear-gradient(90deg, #ac9ff9 0%, #ac9ff9 100%);
  background: -webkit-linear-gradient(90deg, #ac9ff9 0%, #ac9ff9 100%);
  background: linear-gradient(90deg, #ac9ff9 0%, #ac9ff9 100%); }

.lmPrincipalInput, .lmPrincipalInput:hover, .lmPrincipalInput:focus, .dmPrincipalInput, .dmPrincipalInput:hover, .dmPrincipalInput:focus {
  box-shadow: 0 0 10px 0 rgba(22, 28, 39, 0.1);
  border: none;
  border-radius: 0;
  height: 42px;
  width: 100%; }

.lmPrincipalInput, .lmPrincipalInput:hover, .lmPrincipalInput:focus {
  color: #161C27;
  background: white; }
  .has-error .lmPrincipalInput,
  .has-error .lmPrincipalInput:hover,
  .has-error .lmPrincipalInput:focus {
    background-color: white;
    border-color: #6457e3;
    box-shadow: 0 0 0 2px #6457e3; }

.dmPrincipalInput, .dmPrincipalInput:hover, .dmPrincipalInput:focus {
  color: white;
  background: #1F2835; }
  .has-error .dmPrincipalInput,
  .has-error .dmPrincipalInput:hover,
  .has-error .dmPrincipalInput:focus {
    background-color: #1F2835;
    border-color: #6457e3;
    box-shadow: 0 0 0 2px #6457e3; }

.ant-form-explain {
  color: #6457e3 !important; }

.lmBody .dateSelector .ant-select-selection, .lmBody .dateSelector:hover .ant-select-selection, .dmBody .dateSelector .ant-select-selection, .dmBody .dateSelector:hover .ant-select-selection {
  box-shadow: 0 0 10px 0 rgba(22, 28, 39, 0.1);
  border: none;
  border-radius: 0;
  height: 42px;
  width: 100%;
  padding-top: 0.4em; }

.lmBody .dateSelector .ant-select-selection, .lmBody .dateSelector:hover .ant-select-selection {
  color: #161C27;
  background: white; }
  .lmBody .dateSelector .ant-select-selection svg,
  .lmBody .dateSelector:hover .ant-select-selection svg {
    color: #161C27; }
  .has-error .lmBody .dateSelector .ant-select-selection,
  .has-error .lmBody .dateSelector:hover .ant-select-selection {
    box-shadow: 0 0 0 2px #6457e3; }
.lmBody .dateSelector label,
.lmBody .dateSelector:hover label {
  font-size: 12px;
  color: #161C27; }

.dmBody .dateSelector .ant-select-selection, .dmBody .dateSelector:hover .ant-select-selection {
  color: white;
  background: #1F2835; }
  .dmBody .dateSelector .ant-select-selection svg,
  .dmBody .dateSelector:hover .ant-select-selection svg {
    color: white; }
  .has-error .dmBody .dateSelector .ant-select-selection,
  .has-error .dmBody .dateSelector:hover .ant-select-selection {
    box-shadow: 0 0 0 2px #6457e3 !important; }
.dmBody .dateSelector label,
.dmBody .dateSelector:hover label {
  font-size: 12px;
  color: white; }

.ant-form-explain {
  color: #6457e3 !important; }

.ant-select-arrow {
  right: 11px !important; }

.ant-select-dropdown-content, .ant-select-dropdown {
  border: none !important;
  border-radius: 0 !important; }

.ant-select-dropdown-menu-item-active:hover {
  background: #ac9ff9 !important; }

.ant-select-dropdown-menu-item-active {
  background: transparent !important; }

.ant-select-dropdown-menu-item-selected {
  font-weight: 900 !important;
  background: transparent !important; }

.genderSelector .ant-radio-wrapper {
  box-shadow: 0 0 10px 0 rgba(22, 28, 39, 0.1);
  border: none;
  border-radius: 0;
  height: 42px;
  width: 100%;
  position: relative;
  width: 100%; }

.genderSelector .ant-radio-group {
  line-height: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 16px; }
.genderSelector .ant-radio-wrapper {
  display: grid;
  cursor: pointer;
  grid-template-columns: 1fr auto;
  grid-template-areas: "label radio"; }
  body[data-theme='light'] .genderSelector .ant-radio-wrapper {
    color: #161C27;
    background: white; }
    body[data-theme='light'] .genderSelector .ant-radio-wrapper > span:nth-child(1) {
      grid-area: radio;
      padding: 0.3em 1em 0.3em 0.3em;
      align-self: center; }
      body[data-theme='light'] .genderSelector .ant-radio-wrapper > span:nth-child(1)::after {
        border: none; }
      body[data-theme='light'] .genderSelector .ant-radio-wrapper > span:nth-child(1).ant-radio-checked .ant-radio-inner {
        border: solid 1px #161C27; }
      body[data-theme='light'] .genderSelector .ant-radio-wrapper > span:nth-child(1) .ant-radio-inner {
        background: none;
        border: solid 2px #161C27;
        width: 14px;
        height: 14px; }
        body[data-theme='light'] .genderSelector .ant-radio-wrapper > span:nth-child(1) .ant-radio-inner::after {
          background-color: #161C27;
          top: 1px;
          left: 1px;
          width: 10px;
          height: 10px; }
    body[data-theme='light'] .genderSelector .ant-radio-wrapper > span:nth-child(2) {
      grid-area: label;
      padding: 0.3em 0.3em 0.3em 1em;
      align-self: center; }
  body[data-theme='dark'] .genderSelector .ant-radio-wrapper {
    color: white;
    background: #1F2835; }
    body[data-theme='dark'] .genderSelector .ant-radio-wrapper > span:nth-child(1) {
      grid-area: radio;
      padding: 0.3em 1em 0.3em 0.3em;
      align-self: center; }
      body[data-theme='dark'] .genderSelector .ant-radio-wrapper > span:nth-child(1)::after {
        border: none; }
      body[data-theme='dark'] .genderSelector .ant-radio-wrapper > span:nth-child(1).ant-radio-checked .ant-radio-inner {
        border: solid 1px white; }
      body[data-theme='dark'] .genderSelector .ant-radio-wrapper > span:nth-child(1) .ant-radio-inner {
        background: none;
        border: solid 2px white;
        width: 14px;
        height: 14px; }
        body[data-theme='dark'] .genderSelector .ant-radio-wrapper > span:nth-child(1) .ant-radio-inner::after {
          background-color: white;
          top: 1px;
          left: 1px;
          width: 10px;
          height: 10px; }
    body[data-theme='dark'] .genderSelector .ant-radio-wrapper > span:nth-child(2) {
      grid-area: label;
      padding: 0.3em 0.3em 0.3em 1em;
      align-self: center; }
.genderSelector label {
  font-size: 12px; }
  body[data-theme='light'] .genderSelector label {
    color: #161C27; }
  body[data-theme='dark'] .genderSelector label {
    color: white; }

.backBtn {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 38px; }
  body[data-theme='light'] .backBtn {
    content: url("../icons/lm-arrow-left.svg"); }
  body[data-theme='dark'] .backBtn {
    content: url("../icons/dm-arrow-left.svg"); }

.right-content {
  padding-left: 10%;
  padding-right: 10%; }

/*# sourceMappingURL=app.css.map */
