.start {
    .socialLogin {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .google {
        margin-right: 5%;
    }

    .facebook {
        margin-left: 5%;
    }
}