$color-ini: $color-purple;
$color-end: $color-pink;

.avatar {
    display: flex;
    flex-direction: row;
    width: 100%;

    .img {
        background: -moz-linear-gradient(90deg, $color-ini 0%, $color-end 100%);
        background: -webkit-linear-gradient(90deg, $color-ini 0%, $color-end 100%);
        background: linear-gradient(90deg, $color-ini 0%, $color-end 100%);
        width: 180px;
        height: 90px;
        position: absolute;
        top: 13%;
        left: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            width: 60px;
            height: 60px;
            border-radius: 900px;
            margin-right: 10px;
        }
    }

    .name {
        margin-left: 140px;
    }

    .teams {
        margin-left: 140px;
    }
}