.collapseDisplay {
    box-shadow: 0px 0px 10px 0px rgba($color-black, 0.1);

    .ant-collapse {
        display: grid;
        grid-template-columns: 48px auto;
        grid-template-rows: 54px;
        border: none;
        border-radius: 0px;
        font-size: 16px;

        .ant-collapse-image {
            grid-column-start: 1;

            img {
                place-self: center;
                width: 40px;
            }
        }

        .ant-collapse-item,
        .ant-collapse-header,
        .ant-collapse-item-active {
            min-height: 54px;
            grid-column-start: 2;
            border-bottom: none;
        }
    }

    .ant-collapse-icon-position-right
        > .ant-collapse-item
        > .ant-collapse-header {
        padding-top: 16px;
        padding-bottom: 0px;
    }

    .ant-collapse-header {
        font-weight: 700;
    }

    .ant-collapse-content {
        margin-left: -48px;
        border-top: none;
    }

    .dmBody & {
        .ant-collapse {
            background-color: $color-dark-grey;
        }

        .ant-collapse-header {
            color: $color-white;
        }

        .ant-collapse-content-box {
            background-color: $color-black;
            color: $color-white;
        }
    }

    .lmBody & {
        .ant-collapse {
            background-color: $color-white;
        }

        .ant-collapse-content {
            background-color: $color-light-grey;
        }
    }
}
