.collapseBtn {

    .ant-collapse {
        border: none;
    }

    .ant-collapse > .ant-collapse-item {
        border-bottom: none;
    }

    .dmBody & {

        .ant-collapse {
            background-color: $color-dark-grey;
        }

        .ant-collapse-header {
            color: $color-white;
            font-size: 16px;
            font-weight: bold;
            margin-left: 50px;
            margin-top: -30px;
        }

        .ant-collapse-content {
            background-color: $color-black;
            border-top: none;
        }

        .ant-collapse-content-box {
            margin-top: 20px;
            background-color: $color-black;
            color: $color-white;
            padding: 0px !important;
        }
    }

    .lmBody & {

        .ant-collapse {
            background-color: $color-white;
        }

        .ant-collapse-header {
            font-size: 16px;
            font-weight: bold;
            margin-left: 50px;
            margin-top: -30px;
        }

        .ant-collapse-content {
            background-color: $color-light-grey;
        }

        .ant-collapse-content-box {
            margin-top: 20px;
            padding: 0px !important;
        }
    }

    .teamIcon {
        position: relative;
        top: 10px;
        left: 15px;
    }
}