.geoloc {
    .ant-modal-content,
    .ant-modal-body {
        @extend %font-props;
        border-radius: 0px;

        .image {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .pin {
                width: 38px;
            }
        }
    }

    .principalBtn {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .ant-modal-wrap {
        display: block;
    }
}
