.listDisplay {
    display: flex;
    align-items: flex-start;
    max-height: 72px;
    padding: 16px;
    box-shadow: 0px 0px 10px 0px rgba($color-black, 0.1);
    margin-bottom: 24px;

    .dmBody & {
        background-color: $color-black;
    }

    .lmBody & {
        background-color: $color-light-grey;
        box-shadow: none;
    }

    .ant-avatar {
        align-self: center;
        margin-right: 16px;
    }

    .content {
        align-self: center;

        // flex: 1;
        // overflow: hidden;

        flex-grow: 1;

        &.patch {
            display: flex;
            text-align: center;

            .count,
            .date,
            .loading {
                flex-grow: 1;
                .dmBody & {
                    border-right: 1px solid $color-black;

                    i {
                        color: $color-cian;
                    }

                    figcaption, p {
                        color: $color-light-grey;
                    }
                }

                .lmBody & {
                    border-right: 1px solid $color-light-grey;

                    i {
                        color: $color-purple;
                    }

                    figcaption, p {
                        color: $color-dark-grey;
                    }
                }
            }

            .loading {
                border-right: 0 !important;
            }
        }
    }

    .btn {
        margin-left: 16px;
        align-self: center;
        position: relative;
    }

    .iconRow {
        img {
            margin-left: 10px;
            width: 35px;
            height: 35px;
        }
    }

    .pictures {
        &.patch {
            display: -webkit-inline-box;
            align-self: center;

            .dmBody & {
                border-right: 1px solid $color-black;
                
                figure {
                    h4,
                    h5,
                    h6 {
                        color: $color-light-grey;
                    }
                }
            }

            .lmBody & {
                border-right: 1px solid $color-light-grey;

                figure {
                    h4,
                    h5,
                    h6 {
                        color: $color-dark-grey;
                    }
                }
            }

            figcaption {
                margin-right: 16px;
                text-align: center;
            }

            b {
                margin-right: 16px;
                align-self: center;
            }

            figure {
                h4,
                h5,
                h6 {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 42px;
                    white-space: nowrap;
                }
            }

            &.loading {
                border-right: 0 !important;
            }
        }
    }

    figure {
        margin: 0 0 0;
    }
}
