.listBtn {
    display: flex;
    align-items: flex-start;
    height: 72px;
    margin-bottom: 16px;
    cursor: pointer;

    .dmBody & {
        border-bottom: 1px solid $color-dark-grey;
        color: $color-white;

        &.on {
            background: $color-cian;
            color: $color-black;

            h2 {
                color: $color-black;
            }
        }
    }

    .lmBody & {
        border-bottom: 1px solid rgba($color-violet, 20%);
        color: $color-black;

        &.on {
            background: $color-purple;
            color: $color-white;

            h2 {
                color: $color-white;
            }
        }
    }

    .ant-avatar {
        align-self: center;
        margin-right: 16px;
    }

    .contentContainer {
        .content {
            .desc {
                font-weight: 400;
                font-style: italic;
            }
        }

        .time {
            text-align: right;
        }

        .icon {
            .iconRow {
                text-align: right;
                img {
                    margin-left: 10px;
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}
