%loading-text-aspects {
    background-size: 400% 100% !important;
    animation: ant-skeleton-loading 1.4s ease infinite !important;
    -webkit-animation: ant-skeleton-loading 1.4s ease infinite !important;
}

.loadingText {
    margin-top: 3px;
    width: 90%;
    height: 15px;

    &.title {
        width: 30%;
    }

    .dmBody & {
        background: linear-gradient(
            90deg,
            $color-cian 5%,
            $color-blue 50%,
            $color-cian
        );
        @extend %loading-text-aspects;
    }

    .lmBody & {
        background: linear-gradient(
            90deg,
            $color-violet 5%,
            $color-purple 50%,
            $color-violet
        );
        @extend %loading-text-aspects;
    }
}
