%loading-avatar-aspects {
    background-size: 400% 100% !important;
    animation: ant-skeleton-loading 1.4s ease infinite !important;
    -webkit-animation: ant-skeleton-loading 1.4s ease infinite !important;
}

.loadingAvatar {
    .dmBody & {
        &.ant-avatar {
            background: linear-gradient(
                90deg,
                $color-cian 5%,
                $color-blue 50%,
                $color-cian
            );
            @extend %loading-avatar-aspects;
        }
    }

    .lmBody & {
        &.ant-avatar {
            background: linear-gradient(
                90deg,
                $color-violet 5%,
                $color-purple 50%,
                $color-violet
            );
            @extend %loading-avatar-aspects;
        }
    }
}
