%metric-input-aspects {
    @extend %font-props;
    box-shadow: 0 0 10px 0 rgba($color-black, 0.1);
    border: none;
    border-radius: 0;
    height: 42px;
    width: 100%;
}

.metricInput,
.metricInput:hover,
.metricInput:focus,
.metricInput:active,
.metricInput:not(:hover) {
    .ant-input-suffix {
        font-weight: 700;
    }

    .ant-input {
        .has-error & {
            border-color: $color-purple;
            box-shadow: 0 0 0 2px $color-purple;
        }

        .dmBody & {
            color: $color-white;
            background: $color-dark-grey;
            @extend %input-aspects;
        }

        .lmBody & {
            color: $color-black;
            background: $color-white;
            @extend %input-aspects;
        }
    }

    .dmBody & {
        background: $color-black;
    }

    .lmBody & {
        background: $color-light-grey;
    }
}
