.navbar {

    max-height              : 5rem;
    display                 : flex;
    justify-content         : space-between;
    align-items             : center;
    padding                 : 0 50px;
    box-shadow              : 0 5px 5px rgba($color-main-3, 0.1);


    [umt-theme=light] & {
        background  : $color-main-1;
    }


    [umt-theme=dark] & {
        background  : $color-main-4;
    }


    .menu {

        .umt-navigation-bar {

            margin          : 0;
            box-shadow      : none;

            .tab {
                margin: 0 5rem;
            }

        }

    }


    .team-picture {

        position            : absolute;
        top                 : 0;
        right               : 0;
        transform           : translate(-350%, 124%);
        transform-origin    : 100% 0%;
        z-index             : 1;

    }

}
