%option-selector-aspects {
    box-shadow: 0 0 10px 0 rgba($color-black, 0.1);
    border: none;
    border-radius: 0;
    height: 42px;
    width: 100%;
    position: relative;
}

@mixin radio($color-background, $color-border) {
    & > span:nth-child(1) {
        grid-area: radio;
        padding: 0.3em 1em 0.3em 0.3em;
        align-self: center;

        &::after {
            border: none;
        }

        &.ant-radio-checked {
            .ant-radio-inner {
                border: solid 1px $color-border;
            }
        }

        .ant-radio-inner {
            background: none;
            border: solid 2px $color-border;
            width: 14px;
            height: 14px;

            &::after {
                background-color: $color-background;
                top: 1px;
                left: 1px;
                width: 10px;
                height: 10px;
            }
        }
    }

    & > span:nth-child(2) {
        grid-area: label;
        padding: 0.3em 0.3em 0.3em 1em;
        align-self: center;
    }
}

.optionSelector {
    .dmBody & {
        background: $color-black;
    }

    .lmBody & {
        background: $color-light-grey;
    }

    .ant-radio-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-gap: 16px;
    }

    .ant-radio-wrapper {
        @extend %font-props;
        @extend %option-selector-aspects;

        display: grid;
        cursor: pointer;
        grid-template-columns: 1fr auto;
        grid-template-areas: "label radio";

        .dmBody & {
            color: $color-white;
            background: $color-dark-grey;
            @include radio($color-white, $color-white);
        }

        .lmBody & {
            color: $color-black;
            background: $color-white;
            @include radio($color-black, $color-black);
        }
    }

    label {
        font-size: 12px;

        .dmBody & {
            color: $color-white;
        }

        .lmBody & {
            color: $color-black;
        }
    }
}