.primaryTeamSelector {
    .ant-avatar {
        cursor: pointer;
    }

    .selected {
        .dmBody & {
            border: solid 2px $color-cian;
        }
        .lmBody & {
            border: solid 2px $color-purple;
        }
    }
}
