$color-ini: $color-purple;
$color-end: $color-pink;

.profileDisplay {
    .container {
        display: grid;
        grid-template-columns: 3fr 1fr;

        .userPicture {
            grid-column: 1 / span 1;

            background: -moz-linear-gradient(
                90deg,
                $color-ini 0%,
                $color-end 100%
            );
            background: -webkit-linear-gradient(
                90deg,
                $color-ini 0%,
                $color-end 100%
            );
            background: linear-gradient(90deg, $color-ini 0%, $color-end 100%);
        }

        .content {
            grid-column: 2 / span 1;
        }
    }
}
