.start-images-layout {

    .logo {
        margin-bottom   : 50px;
        min-width       : 200px;
        max-width       : 50%;
    }

    .football-shoes {
        margin-left     : -50px;
        margin-bottom   : 25px;
        min-width       : 300px;
        max-width       : calc(90% + 50px);
    }

    .points {
        margin-left     : -50px;
        min-width       : 200px;
        max-width       : 50%;
    }

}
