.startImagesLayout {
    .logo {
        margin-bottom: 50px;
        max-width: 300px;
    }

    .footballShoes {
        margin-left: -50px;
        margin-bottom: 50px;
        max-width: 600px;
    }

    .points {
        max-width: 300px;
        margin-left: -50px;
        margin-bottom: 50px;
    }
}
