.text-btn {

    cursor      : pointer;
    font-weight : 700;

    [umt-theme=dark] & {
        color: $color-cian;

        &:active {
            color: rgba($color-cian, 0.6);
        }
    }

    [umt-theme=light] & {
        color: $color-purple;

        &:active {
            color: rgba($color-purple, 0.6);
        }
    }

}
