@import 'global/colors';
@import 'global/fonts';
@import 'global/dom';

@import 'components/facebook';
@import 'components/google';
@import 'components/themeToggle';
@import 'components/principalBtn';
@import 'components/principalInput';
@import 'components/dateSelector';
@import 'components/optionSelector';
@import 'components/backBtn';
@import 'components/notification';
@import 'components/codeInput';
@import 'components/textBtn';
@import 'components/ageSlider';
@import 'components/geoloc';
@import 'components/positionBtn';
@import 'components/metricInput';
@import 'components/navbar';
@import 'components/cardBtn';
@import 'components/listDisplay';
@import 'components/roundedTextBtn';
@import 'components/startImagesLayout';
@import 'components/loadingAvatar';
@import 'components/loadingText';

@import 'layouts/corners';
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/rightContent';
@import 'layouts/leftContent';

@import 'pages/page';
@import 'pages/start';
@import 'pages/register';
@import 'pages/optionalAttributes';
@import 'pages/optionalFilters';
@import 'pages/emailVerification';
@import 'pages/home';
@import 'pages/recoverPassword';
@import 'pages/resetPassword';
@import 'pages/requiredAttributes'