@import "../../node_modules/@arzov/umt-components/src/assets/styles/globals/colors";
@import "global/dom";


@import "components/theme-toggle";
@import "components/start-images-layout";


@import "layouts/corners";
@import "layouts/header";
@import "layouts/right-content";
@import "layouts/left-content";


@import "pages/page";
@import "pages/start";
@import "pages/register";
@import "pages/optional-attributes";
@import "pages/optional-filters";
@import "pages/email-verification";
@import "pages/home";
@import "pages/recover-password";
@import "pages/reset-password";
@import "pages/required-attributes";
