.home {

    h1 {
        text-shadow: 0 5px 5px rgba($color-main-3, 0.1);
    }

    .home-top-left {
        min-width   : 200px;
        max-width   : 25%;
        position    : absolute;
        top         : 5rem;
        left        : 0px;
        z-index     : 0;
    }

    .home-bottom-right {
        min-width   : 200px;
        max-width   : 20%;
        position    : absolute;
        bottom      : 0px;
        right       : 0px;
        z-index     : 0;
    }

}
