.home {

    .home-top-left {
        width       : 20%;
        position    : absolute;
        top         : 70px;
        left        : 0px;
    }

    .home-bottom-right {
        width       : 20%;
        position    : absolute;
        bottom      : 0px;
        right       : 0px;
    }

    .right-content {
        h3 {
            text-align      : center;
            margin-bottom   : 24px;
        }
    }

}
