.optionalAttributes {
    .positionsDescriptions {
        z-index: 300;
        display: grid;
        row-gap: 16px;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
