%content {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    justify-content: center;
}

.profile {

    .leftContent {
        justify-content: flex-start;

        .backBtn {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100px;
            align-items: center;

            .size {
                height: 30px;
                width: 50px;
            }
        }

        .content {
            @extend %content;
        }
    }

    .rightContent {
        border-left: 1px solid gray;

        .themeToggle {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100px;
            justify-content: flex-end;
        }

        .content {
            height: 80vh;
            padding-left: 10%;
            padding-right: 30%;
            padding-bottom: 10%;

            overflow-y: scroll;
            overflow-x: hidden;

            .divider {
                border: 1px solid gray;
            }
        }
    }
}