.profile {
    .rightContent {
        border-left: 1px solid mix($color-violet, $color-light-grey, 20%);

        .content {
            height: 80vh;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 100px;

            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
}
