.start {

    .social-login {

        display         : flex;
        flex-direction  : row;
        justify-content : center;
        align-items     : center;

        .google {
            margin-right: 1.5rem !important;
        }

        .facebook {
            margin-left: 1.5rem !important;
        }

    }

}
