.teams {

    justify-content: space-between;


    .left-content {

        justify-content : flex-start;
        width           : 40%;

        .shield {
            min-width       : 200px;
            max-width       : 10%;
            margin-left     : -50px;
            margin-top      : 24px;
            margin-bottom   : 24px;
            z-index         : 0;
        }

    }


    .right-content {

        padding : 0;
        width   : 60%;

        .chat-container {

            min-height      : 100%;
            display         : flex;
            flex-direction  : column;
            overflow        : hidden;

            .chat-header {

                display         : flex;
                flex-direction  : column;
                align-items     : center;
                cursor          : pointer;
                padding         : 40px 24px 12px 24px;

                .title {

                    display         : flex;
                    justify-content : space-between;
                    align-items     : center;
                    width           : 100%;
                    padding-bottom  : 24px;

                    [umt-theme="light"] & {
                        border-bottom: solid 1px rgba($color-main-4, 0.2);
                    }

                    [umt-theme="dark"] & {
                        border-bottom: solid 1px rgba($color-main-2, 0.2);
                    }

                    p {
                        margin: 0;
                    }

                    .team-1,
                    .team-2 {

                        padding     : 12px 7%;
                        transform   : skewx(-15deg);

                        .umt-avatar {
                            transform: skewx(15deg);
                        }

                    }

                    .team {
                        background: linear-gradient(45deg, $color-main-6, $color-main-7);
                    }

                }

            }

            .chat-body {

                background-image: url("../images/chat-background.svg");
                background-size : 30%;
                padding         : 24px;
                box-shadow      : inset 2px 0px 5px 5px rgba($color-main-3, 0.1);
                justify-content : flex-end;
                overflow        : auto;

                [umt-theme="light"] & {
                    background-color: $color-main-1;
                }

                [umt-theme="dark"] & {
                    background-color: $color-main-4;
                }

                .messages {

                    display         : flex;
                    flex-direction  : column;

                    .left-message,
                    .right-message {

                        margin-bottom   : 24px;
                        padding         : 8px;
                        border-radius   : 8px;
                        max-width       : 90%;
                        box-shadow      : 1px 1px 1px 2px rgba($color-main-4, 0.1);

                        p {
                            color: $color-main-3;
                        }

                    }

                    .left-message {

                        background  : linear-gradient(90deg, $color-main-8 0%, $color-main-7 250%);
                        align-self  : flex-start;
                        position    : relative;

                        img {

                            height  : 20px;
                            position: absolute;
                            bottom  : 0;

                            &.msg-corner-image {
                                left        : 0;
                                transform   : translateX(-7px);
                            }

                        }

                    }

                    .right-message {

                        background  : linear-gradient(90deg, $color-main-5 -20%, $color-main-10 180%);
                        align-self  : flex-end;
                        position    : relative;

                        img {

                            height  : 20px;
                            position: absolute;
                            bottom  : 0;

                            &.msg-corner-image {
                                right       : 0;
                                transform   : translateX(7px);
                            }

                        }

                    }

                }

            }

            .chat-footer {

                display         : flex;
                justify-content : space-around;
                align-items     : center;
                width           : 100%;
                padding         : 16px;

                img {
                    width: 32px;
                    margin: 4px 8px;
                }

                .input-text {

                    flex-grow: 2;

                    .umt-input {
                        margin      : 0;
                        box-shadow  : unset;
                    }

                }

                .emoticon,
                .send {
                    cursor: pointer;
                }

            }

        }

        .team-info {

            min-height      : 100%;
            display         : flex;
            flex-direction  : column;
            padding         : 40px 24px;

            .header {

                display: inline-table;
                padding: 0;

                .corner-top-right {
                    top     : 64px;
                    z-index : 0;
                }

                .umt-button {
                    align-self: flex-start;
                }

                .title {

                    display         : flex;
                    justify-content : space-between;
                    align-items     : center;
                    width           : 100%;
                    padding-bottom  : 24px;

                    .team {

                        padding     : 12px 7%;
                        transform   : skewx(-15deg);

                        .umt-avatar {
                            transform: skewx(15deg);
                        }

                    }

                    .team {
                        background: linear-gradient(45deg, $color-main-6, $color-main-7);
                    }

                }

            }

            .content {

                .title {

                    display         : flex;
                    justify-content : space-between;
                    align-items     : center;

                    .umt-button {
                        margin: 0;
                    }

                }

            }

        }

    }

}
