%full-width {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.teams {

    .leftContent {
        @extend %full-width;
        justify-content: flex-start;

        .shield {
            height: 200px;

            img {
                padding-top: 30px;
                width: 300px;
            }
        }

        .options {
            height: 75%;
            padding: 0px 60px 60px 60px;
        }
    }

    .rightContent { 
        @extend %full-width;
        justify-content: flex-start;
        border-left: 1px solid $color-dark-grey;

        .banner {
            height: 20%;
            border-bottom: 1px solid $color-dark-grey;
        }

        .chatContainer {
            height: 80%;
            background-image: url("../images/chat-background.svg");
            opacity: 0.4;
        }
        
        .bannerInfoTeam {
            height: 150px;
            display: flex;
            flex-direction: row;
        
            .iconContainer {
                @extend %full-width;
                align-items: center;
                justify-content: center;
                width: 15%;
        
                img {
                    width: 35%;
                    height: 35%;
                    cursor: pointer;
                }
            }    
        
            .title {
                @extend %full-width;
                justify-content: center;
                width: 70%;
            }

            .imgContainer {
                @extend %full-width;
                width: 15%;
        
                img {
                    width: 75%;
                    height: 100%;
                }
        
                .teamPicture {
                    position: absolute;
                    top: 45%;
                    right: 0;
                    left: 10%;
                    bottom: 0;
                    z-index: 1;
            
                    .dmBody & {
                        box-shadow: 0 0 0 1px $color-dark-grey;
                    }
                
                    .lmBody & {
                        box-shadow: 0 0 0 1px $color-white;
                    }
                }
            }    
        }

        .infoTeam {
            height: auto;
            justify-content: center;
            align-self: center;
            padding-right: 25%;
            padding-left: 25%;
        }
    }
    
}