.center-content {

    display         : flex;
    flex-direction  : column;
    padding-top     : 50px;
    padding-left    : 50px;
    padding-right   : 50px;
    width           : 80%;
    z-index         : 1;

}
