%height-selector-aspects {
    box-shadow: 0 0 10px 0 rgba($color-black, 0.1);
    border: none;
    border-radius: 0;
    height: 42px;
    width: 100%;
    position: relative;
}

.heightSelector {

    .ant-input-number {
        padding: 0.3em 1em 0.3em 0.3em;
        width: 90%;
        border: none;

        .dmBody & {
            color: $color-white;
            background: $color-dark-grey;
        }

        .lmBody & {
            color: $color-black;
            background: $color-white;
        }
    }

    .dmBody & {
        background: $color-black;
    }

    .lmBody & {
        background: $color-light-grey;
    }

    label {
        font-size: 16px;

        .dmBody & {
            color: $color-white;
        }

        .lmBody & {
            color: $color-black;
        }
    }
}