.logo {
    body[data-theme='light'] & {
        content: url('../../static/lm-logo.svg');
    }

    body[data-theme='dark'] & {
        content: url('../../static/dm-logo.svg');
    }

    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    max-width: 450px;
}