%notification-aspects {
    @extend %font-props;
    box-shadow: 0 0 10px 0 rgba($color-black, 0.2);
    border: none;
    border-radius: 0;

    .ant-notification-notice-message {
        font-weight: 700;
    }
}

.notification {
    @extend %notification-aspects;

    .dmBody & {
        color: $color-white;
        background: $color-dark-grey;

        .ant-notification-notice-message,
        .ant-notification-notice-description,
        .ant-notification-close-x {
            @extend %font-props;
            color: $color-white;
        }

        .ant-notification-notice-icon svg {
            color: $color-cian;
        }
    }

    .lmBody & {
        color: $color-black;
        background: $color-white;

        .ant-notification-notice-message,
        .ant-notification-notice-description,
        .ant-notification-close-x {
            @extend %font-props;
            color: $color-black;
        }

        .ant-notification-notice-icon svg {
            color: $color-purple;
        }
    }
}