%input-aspects {
    @extend %font-props;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0;
    height: 42px;
    width: 100%;
}

.principalInput,
.principalInput:hover,
.principalInput:focus {
    body[data-theme='light'] & {
        color: $color-black;
        background: $color-white;
    }

    body[data-theme='dark'] & {
        color: $color-white;
        background: $color-dark-grey;
    }

    .has-error & {
        border-color: $color-purple;
        box-shadow: 0 0 0 2px $color-purple;
    }
    
    @extend %input-aspects;
}

.ant-form-explain {
    color: $color-purple !important;
}