%input-aspects {
    @extend %font-props;
    box-shadow: 0 0 10px 0 rgba($color-black, 0.1);
    border: none;
    border-radius: 0;
    height: 42px;
    width: 100%;
}


.principalInput,
.principalInput:hover,
.principalInput:focus {
    .dmBody & {
        color: $color-white;
        background: $color-dark-grey;
        @extend %input-aspects;
    }

    .lmBody & {
        color: $color-black;
        background: $color-white;
        @extend %input-aspects;
    }

    .has-error & {
        border-color: $color-purple;
        box-shadow: 0 0 0 2px $color-purple;
    }
}

.ant-form-explain {
    color: $color-purple !important;
}